<div>
  Placeholder for all the awesome jokes
</div>
<%= button_tag 'SHOW ME!', id: 'js-joke-toggle-btn', class: 'btn'%>
<div id='js-joke-toggle-div', style='display:none'>
  Nothing here. Tricked ya!
</div>
