<div>
  Placeholder for all the awesome jokes
</div>
<%= button_tag 'SHOW ME!', id: 'js-joke-toggle-btn', class: 'btn btn-warning center-block'%>
<div id='js-joke-toggle-div', class='hidden alert-info'>
  Nothing here. Tricked ya!
</div>
