<p>
  Placeholder for all the awesome jokes
</p>
<%= button_tag 'SHOW ME!', class: 'btn', id: 'js-joke-toggle-btn' %>
<p id='js-joke-toggle-div', style='display:none'>
  Nothing here. Tricked ya!
</p>
