<div id='js-joke-css-div'>
  Tell me a joke
</div>
<%= button_tag 'Red', id: 'js-joke-css-red-btn', class: 'btn btn-default' %>
<%= button_tag 'Green', id: 'js-joke-css-green-btn', class: 'btn btn-default' %>
<%= button_tag 'Blue', id: 'js-joke-css-blue-btn', class: 'btn btn-default' %>
